[submodule "Hamster-Core/Vendor/glfw"]
	path = Hamster-Core/Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Hamster-Core/Vendor/glad"]
	path = Hamster-Core/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Hamster-Core/Vendor/cmake_example"]
	path = Hamster-Core/Vendor/cmake_example
	url = https://github.com/pybind/cmake_example.git
[submodule "Hamster-Core/Vendor/pybind11"]
	path = Hamster-Core/Vendor/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Hamster-Py/Vendor/pybind11"]
	path = Hamster-Py/Vendor/pybind11
	url = https://github.com/pybind/pybind11.git
